<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<title>Blog App 1</title>
</head>
<body>
    
<div class="ui fixed inverted menu" id="navBar">
    <div class="ui container">
        <div class="header item"><i id="brandIcon" class="map signs icon"></i>Blog Site</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
    </div>
</div>